node_modules
dist
.env
.env.local
.env.development
.env.production
*.log
.DS_Store

/src/generated/prisma

# Documentation (except README.md)
API.md
QUICKSTART.md
SWAGGER.md
SWAGGER_IMPLEMENTATION.md
PROJECT_SUMMARY.md
